@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: "Inter",sans-serif,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }